/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 0 auto;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 240px;
  transition: all 400ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
  cursor: url("../img/cursor.svg"), pointer;
}